body, HTML {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px black;
    width: 300px; /* Ancho del formulario */
    margin: 0 auto; /* Centrar horizontalmente */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#fechaNacimiento + small {
  height: 20px;
   /* Ajusta el margen izquierdo según sea necesario */
  color: #000; /* Cambia el color del texto si lo deseas */
}
label {
    display: block;
    margin-bottom: 8px;
}

input {
    width: calc(100% - 10px); /* Ancho del input considerando el padding */
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #000; /* Añade un borde */
    border-radius: 4px; /* Agrega bordes redondeados */
}

input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
    border: none; /* Quita el borde del botón */
    border-radius: 4px; /* Agrega bordes redondeados */
}

input[type="submit"]:hover {
    background-color: #45a049;
}
button {
    padding: 10px 20px;
    background-color: #34FB00; /* Color de fondo del botón */
    border: 1px solid #ccc; /* Borde del botón */
    border-radius: 60px;
    color: #333; /* Color del texto */
    font-size: 17px;
}

button:hover {
    background-color: #35C70E; /* Cambiar color de fondo al pasar el cursor */
}
